$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #FD0030;
$secondary_paletteKeyColor: #9D6B58;
$tertiary_paletteKeyColor: #A26A3E;
$neutral_paletteKeyColor: #887270;
$neutral_variant_paletteKeyColor: #8C716F;
$background: #1E100F;
$onBackground: #F8DCDA;
$surface: #1E100F;
$surfaceDim: #1E100F;
$surfaceBright: #473534;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #271817;
$surfaceContainer: #2B1C1B;
$surfaceContainerHigh: #362625;
$surfaceContainerHighest: #42302F;
$onSurface: #F8DCDA;
$surfaceVariant: #584140;
$onSurfaceVariant: #DFBFBD;
$inverseSurface: #F8DCDA;
$inverseOnSurface: #3D2C2B;
$outline: #A78A88;
$outlineVariant: #584140;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB3AF;
$primary: #FFB3AF;
$onPrimary: #68000D;
$primaryContainer: #930017;
$onPrimaryContainer: #FFDAD7;
$inversePrimary: #BF0022;
$secondary: #F5B9A3;
$onSecondary: #4B2618;
$secondaryContainer: #663C2C;
$onSecondaryContainer: #FFDBCE;
$tertiary: #FCB885;
$onTertiary: #4E2600;
$tertiaryContainer: #C08355;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDAD7;
$primaryFixedDim: #FFB3AF;
$onPrimaryFixed: #410005;
$onPrimaryFixedVariant: #930017;
$secondaryFixed: #FFDBCE;
$secondaryFixedDim: #F5B9A3;
$onSecondaryFixed: #321206;
$onSecondaryFixedVariant: #663C2C;
$tertiaryFixed: #FFDCC4;
$tertiaryFixedDim: #FCB885;
$onTertiaryFixed: #2F1400;
$onTertiaryFixedVariant: #6A3B13;
