@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: Intel One Mono;
  font-size: 13px;
}


window#waybar {
  background-color: transparent;
}

#clock {
  background: @background;
  background: radial-gradient(at center, @color1, @color2, @color1);
  color: @background;
  background-size: 400% 400%;
  animation: gradient_f 5s linear infinite;
  border-radius: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7px;
  margin-top: 3px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bolder;
}

#window {
  color: @foreground;
  font-weight: bold;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-power {
  background: @background;
  color: @color3;
  border-radius: 10px;
  padding-right: 13px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  margin-right: 10px;
  margin-left: 3px;
  font-weight: bolder;
}

#network {
  background: @background;
  color: @color3;
  border-radius: 10px;
  padding-right: 13px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  margin-left: 3px;
  font-weight: bolder;
}

#bluetooth {
  background: @background;
  color: @color3;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  font-weight: bolder;
}


#cpu {
  margin-top: 3px;
  padding-left: 13px;
  border-radius: 10px 0px 0px 10px;
  color: @background;
  background: @background;
  background: linear-gradient(270deg, @color1, @color2);
  background-size: 400% 400%;
  animation: gradient_f 5s linear infinite;
}

#memory {
  margin-top: 3px;
  border-radius: 0px 0px 0px 0px;
  color: @background;
  background: @background;
  background: radial-gradient(at center, @color1, @color2);
  background-size: 400% 400%;
  animation: gradient_f 5s linear infinite;
}

#disk {
  margin-top: 3px;
  padding-right: 13px;
  border-radius: 0px 10px 10px 0px;
  color: @background;
  background: @background;
  background: linear-gradient(90deg, @color1, @color2);
  background-size: 400% 400%;
  animation: gradient_f 5s linear infinite;

}

#battery {
  margin-top: 3px;
  margin-right: 7px;
  padding-right: 13px;
  border-radius: 0px 10px 10px 0px;
  color: @background;
  background: @background;
  background: linear-gradient(90deg, @color1, @color2);
  background-size: 400% 400%;
  animation: gradient_f 5s linear infinite;

}

#wireplumber {
  background: @background;
  color: @color3;
  border-radius: 10px;
  padding-right: 13px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 5px;
  font-weight: bolder;
}

#backlight {
  background: @background;
  color: @color3;
  border-radius: 10px;
  padding-right: 13px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 1px;
  margin-right: 10px;
  font-weight: bolder;
}

#cava {
  background: rgb(166, 227, 161);
  background: radial-gradient(at center, @color1, @color2, @color1);
  background-size: 400% 400%;
  color: #181825;
  animation: gradient_f 5s linear infinite;
  border-radius: 10px;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 7px;
  margin-top: 3px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bolder;
}

#mpris {
  color: #a6adc8;
  font-weight: bold;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 5px;
}

#workspaces button label {
  background: none;
  color: @color3;
  font-weight: bolder;
}

#workspaces button.active label {
  background: none;
  color: @background;
  font-weight: bolder;
}

#workspaces button:hover {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

#workspaces {
  background-color: transparent;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  margin-left: 25px;
}

#workspaces button {
  background-color: @background;
  border-radius: 15px;
  margin-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: bolder;
  color: @background;
  transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.68);
}

#workspaces button.active {
  padding-right: 20px;
  padding-left: 20px;
  background: radial-gradient(at center, @color1, @color2, @color1);
  background-size: 400% 400%;
  animation: gradient_f 5s linear infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}
