(
    max_notifications: 4,
    timeout: 6000,
    poll_interval: 16,

    // Enable/disable debug rendering.
    debug: false,
    debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0), // Primary color for debug rectangles.
    debug_color_alt: Color(r: 1.0, g: 0.0, b: 0.0, a: 1.0), // Secondary color for debug rectangles.

    layout_blocks: [
        // Layout 1, when an image is present.
        (
            name: "root",
            parent: "",
            hook: Hook(parent_anchor: TR, self_anchor: TR),
            offset: Vec2(x: -10.0, y: 44.0),
            params: NotificationBlock((
                monitor: 0,
                border_width: 3.0,
                border_rounding: 3.0,
                background_color: Color(hex: "#1e1e2e"),
                border_color: Color(hex: "#1e1e2e"),
                border_color_low: Color(hex: "#1e1e2e"),
                border_color_critical: Color(hex: "#f38ba8"),
                border_color_paused: Color(hex: "#fab387"),

                gap: Vec2(x: 0.0, y: 8.0),
                notification_hook: Hook(parent_anchor: BL, self_anchor: TL),
            )),
        ),

        (
            name: "image",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ImageBlock((
                image_type: Hint,
                // We actually want 4px padding, but the border is 3px.
                padding: Padding(left: 5.0, right: 0.0, top: 5.0, bottom: 10.0),
                rounding: 3.0,
                scale_width: 100,
                scale_height: 100,
                filter_mode: Lanczos3,
            )),
        ),

        (
            name: "summary",
            parent: "image",
            hook: Hook(parent_anchor: MR, self_anchor: BL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%s",
                font: "Arial Bold 14",
                ellipsize: Middle,
                color: Color(hex: "#cdd6f4"),
                color_hovered: Color(hex: "#cdd6f4"),
                padding: Padding(left: 7.0, right: 7.0, top: 7.0, bottom: 4.0),
                dimensions: (width: (min: 40, max: 150), height: (min: 30, max: 50)),
            )),
        ),

        (
            name: "body",
            parent: "summary",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: -3.0),
            params: ScrollingTextBlock((
                text: "%b",
                font: "Arial 11",
                color: Color(hex: "#bac2de"),
                color_hovered: Color(hex: "#bac2de"),
                padding: Padding(left: 7.0, right: 7.0, top: 1.0, bottom: 5.0),
                width: (min: 150, max: 450),
                scroll_speed: 0.1,
                lhs_dist: 35.0,
                rhs_dist: 35.0,
                scroll_t: 1.0,
            )),
        ),
    ],

    // https://github.com/Toqozz/wired-notify/wiki/Shortcuts
    shortcuts: ShortcutsConfig (
        notification_interact: 1,
        notification_close: 2,
        // notification_closeall: 99,
        // notification_pause: 99,

        notification_action1: 3,
        // notification_action2: 99,
        // notification_action3: 99,
        // notification_action4: 99,
    ),
)
