button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

button:active {
  background-color: @theme_selected_bg_color;
}

button:hover {
  border-bottom: 3px solid @theme_fg_color;
}

label {
  font-weight: bold;
}

.workspaces button.focused {
  border-bottom: 3px solid @theme_selected_bg_color;
}
